.container_pop{
    font-family: poppins !important;
    width: 80vw;
    height: auto;
    max-height: 80vh;
    background-color: #fff;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    overflow-y: scroll;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(11,3,37,1) 0%, rgba(15,4,51,1) 44%, rgba(73,50,149,1) 100%);
   
}
h1{
    color: #fff;
    font-family: poppins-bold !important;
    font-weight: bold;
    font-size: 50px;
    height: 50px;
}
.video{
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.texto{
    margin: 40px auto;
    width: 80%;
    color: #fff;
    text-align: justify;

}
.botonera{
    margin: 40px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.botonera a{
    color: #fff;
    font-family: poppins;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 700px) {
  .texto{
    width: 95%;
  }
}
