.card {
  position: relative;
  width: 300px;
  height: 450px;
  margin: 20px;
  background: transparent;
  cursor: pointer;
  perspective: 1000px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.5s, opacity 0.5s, visibility 0.5s; /* Añadimos opacity y visibility a la transición */
}

.card .front {
  transform: rotateY(0deg);
  box-shadow: 0 0 10px rgb(243, 241, 241);
  opacity: 1; /* La cara frontal es visible */
  visibility: visible; /* La cara frontal es visible */
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.514);
  text-align: center;
  font-family: poppins-bold !important;
}

.card .back {
  transform: rotateY(180deg);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(20px);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 0 10px rgb(243, 241, 241);
  opacity: 0; /* La cara trasera está oculta */
  visibility: hidden; /* La cara trasera está oculta */
}

.card .back .link {
  width: 100%;
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
  width: 100%;
  display: block;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
}

.card:hover .front {
  transform: rotateY(180deg);
  opacity: 0; /* Ocultar la cara frontal al girar */
  visibility: hidden; /* Ocultar la cara frontal al girar */
}

.card:hover .back {
  transform: rotateY(0deg);
  opacity: 1; /* Mostrar la cara trasera al girar */
  visibility: visible; /* Mostrar la cara trasera al girar */
}
