.container_principal_home{
    width: 100%;
    min-height: 100vh;
    // background: rgb(11,3,37);
    background: linear-gradient(180deg, rgba(11,3,37,1) 0%, rgba(15,4,51,1) 34%, rgba(73,50,149,1) 100%);
    position: relative; 
 
}
.header{
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    .wave{
        width: 100%; 
        position: absolute;
        bottom: 0;
      
        
        
    }
}
.color{
    width: 40%;
    height: 100%;
   
    
}
.header .color img{
    width: 100%;
    object-fit: cover;
}
.header img{ 
    width: 60%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    
}

.cards{
    margin: 50px auto;
    width: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.h1{
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 70px;
    margin: 30px auto;
    font-family: poppins-bold;
 
}


.floating{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border: none;
    box-shadow: 0 0 10px var(--secondary);
    border-radius: 50%;
    animation: pulse 3s infinite;
    
}
.floating img{
    width: 100%;
    
   
}
.header h1{
    color: #ffffff;
    position: absolute;
    font-family: poppins-bold;
    font-size: 200px;
    top: 40%;
    left: 50%;
    font-weight: bold;


}
.h4{
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 25px;
   
}
.footer{
    width: 100%;
    height: 200px;
    background-color: #1d0e4d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer svg{
    font-size: 50px;
}
.footer .icons{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.section2{
    width: 100%;
    display: flex;
    margin-top: 40px ;
    background: #e2dced;
   
    
}
.section2 .div1{
    margin: 40px 0;
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, var(--secondary) 60%, transparent 40%);
}
.section2 .div1 p{
    width: 80%;
    color: #000000;
}
.section2 .div1 h2{
    width: 80%;
    text-align: left;
    font-family: poppins-bold !important;
    color: #000000;
    font-size: 100px;
    margin-bottom: 60px;
}
.section2 .div2{
    background: linear-gradient(to right, transparent 50%, var(--secondary) 50%);
    width: 50%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 .div2 img{
    width: 50%;
    border-radius: 50px;
    height: 70%;
    box-shadow: 0 0 10px rgb(179, 174, 174);
}
@keyframes pulse {
    0% {
        width: 80px;
      box-shadow: 1px 1px 20px var(--primary);
    }
    50% {
        width: 85px;
      box-shadow: 1px 1px 200px var(--primary); /* Ampliar el box-shadow a la mitad de la animación */
    }
   
    100% {
        width: 80px;
      box-shadow:1px 1px 20px var(--primary);
    }
  }

  @media (max-width: 600px) {
    .header h1{
        font-size: 100px;
        text-align: center;
    }
    .h1{
        font-size: 50px;
        line-height: 60px;
    }
    .footer .icons{
        width: 100%;
    }
  }