/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
 @font-face {
    font-family: poppins;
    src: url(assets/fonts/poppins/Poppins-Light.ttf);
 }
 @font-face {
    font-family: poppins-bold;
    src: url(assets/fonts/poppins/Poppins-Bold.ttf);
 }
:root {
    --primary: #19A9AB;
    --secondary: #e7f126a6;
    --black: #0000;
    --fondo: #0B0325;
    // --fondo : #1928ab;
    --logos: #ffffff;
}
h1,h2,h3,h4{
    font-family: poppins !important;
}
html, body { height: 100%; }
body { margin: 0; font-family:poppins !important }

.dialog{
   
    filter: blur(20px);
    background-color: rgb(212, 210, 210);
    opacity: 0.7 !important;
}
